
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  * {
    box-sizing: border-box;
    @apply text-gray-300;
    @apply border-gray-400;
    @apply text-inherit;

  }
  div{
    @apply bg-black;
  }

  h1 {
    @apply text-3xl;
    @apply font-bold;

  }
  table{
    @apply table-auto;
    @apply border-collapse;
    @apply border;
    @apply border-2
    
  }
  th{
    @apply border;
    @apply bg-gray-700;

  }
  td{
    @apply border-x;
    
    
  }
  /* tr{
    @apply even:bg-slate-800;
    @apply odd:bg-slate-700;
  } */
  .biginput{
    
    @apply w-96; 
    @apply h-24; 
    @apply align-top;
    
  }
  
}

@layer utilities {
  td,
  th {
    @apply p-2;
  }
}

html,
body {
  background: black;
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}



img {
  max-width: 100%;
  height: auto;
}

