
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
    @apply font-bold;
    @apply underline;
  }
  table{
    @apply table-auto;
    @apply border-collapse;
    @apply border;
    @apply border-slate-500;
  }
  th{
    @apply border;
  }
  td{
    @apply border;
    
  }

  
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  @apply text-blue-500;
}

img {
  max-width: 100%;
  height: auto;
}

